@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../img/background-forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.login-box h1 {
    float: left;
    font-size: 38px;
    border-bottom: 7px solid #4caf50;
    margin-bottom: 52px;
    padding: 14px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 22px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #3cb371;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn-logar {
    width: 100%;
    background: none;
    border: 2px solid #3cb371;
    color: #fff;
    cursor: pointer;
    margin: 18px 0;
    font-size: 16px;
    padding: 4px 0;
}
::placeholder {
    color: rgb(221, 221, 221);
}